<div class="block-center modal" id="modal-comfirm" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">确认</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-danger text-center" id="text_confirm">
                </div>
                <br>
                <div class="float-right">
                    <button type="button" id="button-confirm" class="btn btn-primary">确认</button>
                    <button type="button" onclick="$('#modal-comfirm').modal('hide')" class="btn btn-primary">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
