<div class="block-center modal" id="modal-private" tabindex="-1" role="dialog">
    <div class="modal-dialog-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">编辑私有牌桌</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <input type="text" id="text_route" class="form-control" hidden>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <span class="input-group-text">名称</span>
                        </div>
                        <input type="text" id="text_table_name" class="form-control" placeholder="牌桌名称">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">规则</span>
                        </div>
                        <div class="d-flex form-control" id="radio_rules" style="align-items:center">
                        </div>
                    </div>
                    
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">局数</span>
                        </div>
                        <div  class="d-flex align-items-center form-control" style="align-items:center">
                            <label class="radio-inline">
                                <input type="radio" name="radio_max_ju" id="radio_max_ju_6" value="6" checked> 6局
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="radio_max_ju" id="radio_max_ju_12"  value="12"> 12局
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="radio_max_ju" id="radio_max_ju_18"  value="18"> 18局
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="radio_max_ju" id="radio_max_ju_24"  value="24"> 24局
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="radio_max_ju" id="radio_max_ju_30"  value="30"> 30局
                            </label>
                        </div>
                    </div>
                    <div class="float-right">
                        <button type="button" onclick="editPrivate()" class="btn btn-primary">确定</button>
                        <button type="button" onclick="$('#modal-private').modal('hide')" class="btn btn-primary">取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>