<div id="table-version" class="tab-pane">      
  <form class="form-horizontal" role="form">
    <div class="float-right">
        <button type="button" onclick="syncAllFiles()" class="btn btn-primary">同步所有文件</button>
    </div>    
  </form>
  <br><br>
  <table class="table">
    <thead>
      <tr>
        <th>目录名</th>
        <th>文件名</th>
        <th>开发版本</th>
        <th>生产版本</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody id="table-files">      
    </tbody>
  </table>        
</div>


