<div id="table-record" class="tab-pane">
    <div class="container p-0">
        <div class="row">
            <div class="tree well col-sm-4 p-0">
                <ul style="padding-left:0px" id="record_tree">
                    <li v-for = '(room, room_id) in records'>
                        <span class="glyphicon glyphicon-folder-open"> 房间#{{room_id}}</span>
                        <ul>
                            <li v-for = '(table, table_id) in room'>
                                <span class="glyphicon glyphicon-folder-open"> 牌桌#{{table_id}}</span>
                                <ul>
                                    <li v-for ='(paiju, start_time) in table'>
                                        <span class="glyphicon glyphicon-folder-open"> {{start_time}}</span>
                                        <ul>
                                            <li v-for="file_tup in paiju">
                                                <span class="glyphicon glyphicon-leaf"> 
                                                    <a href="#" onclick="onRecord({{room_id}}, {{table_id}},{{start_time}},{{file_tup[0]}},'{{file_tup[1]}}')">
                                                    第{{file_tup[0]+1}局</a>
                                                </span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        <div class="well col-sm-8">
            <div class="container">
                <div class="row mt-2">
                    <div class="col-sm-10">
                        <div class="row">
                            <div style="display: none;" id="current_filename"></div>
                            <div class="col-sm-2 p-0">当前牌局:</div>
                            <div class="col-sm-10 p-0" id="current_paiju_info"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 p-0">打牌规则:</div>
                            <div class="col-sm-10 p-0" id="current_paiju_rules"></div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" onclick="playback()" class="btn btn-danger">
                            测试</button>
                    </div>
                </div>
            </div>
            <table class="table mt-2">
                <thead>
                  <tr>
                    <th style="width:10%">步骤</th>
                    <th style="width:10%">方位</th>
                    <th style="width:15%">操作</th>
                    <th style="width:65%">参数</th>
                  </tr>
                </thead>
                <tbody id="record-table">
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>